@use "../animation" as animation;

.mat-toolbar.navbar {
  padding: unset;
  gap: 0.5rem;
}

.navbar-actions {
  margin-left: auto;
  padding: 0.2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media (max-width: 599px) {
    padding: unset;
    gap: unset;
    height: 100%;
  }

  .theme-toggler,
  .translation-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--navbar-action-size);
    height: var(--navbar-action-size);
    font-size: var(--navbar-action-size);
    transition: all 0.5s ease-out;

    &:hover {
      color: var(--navbar-action-hover-bkg-color);
      transition: all 0.3s ease-in;

      @media (max-width: 599px) {
        animation: unset;
        transition: all 0.5s ease-in;
        background-color: var(--navbar-sidenav-toggle-bkg-color-on-hover);
      }

    }

    @media (max-width: 599px) {
      height: 100%;
      width: var(--navbar-action-width-mobile);
      font-size: var(--navbar-action-size-mobile);
      line-height: var(--navbar-action-size-mobile);
    }

  }

}