/* For tables */

.nested-object-table-container {
  max-width: 100%;        /* Don't exceed parent width */
  overflow-x: auto;       /* Horizontal scroll when needed */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  padding: 0.7rem 0;
}



table.nested-object-table {
  overflow-x: auto;
  width: auto;            /* Table grows to fit content */
  min-width: auto;        /* But at least full container width */
  border-collapse: collapse;
  white-space: nowrap;    /* Prevent text wrapping */
}

table.nested-object-table th {
  text-align: left;
  font-weight: 500;
  padding-right: 0.7rem;
}

table.nested-object-table td {
  padding-right: 0.7rem;
}

.na { 
  font-style: italic; 
}

/* Fixed width for keys */
th.table-key {
  width: max-content;
  position: sticky;
  left: 0;
  z-index: 1;
}