/* Seed Colors: 
    primary: #6ABF89, 
    secondary: #accfb4, 
    tertiary: #aec6ff, 
    error: #ffb4ab, 
    neutral: #737873, 
    neutral-variant: #6f7a70 
*/

@mixin jade-serenity-light-colors {
  :root, :host {
    // Primary colors
    --sys-primary: #096d3f;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #9ef5bb;
    --sys-on-primary-container: #00210f;
    --sys-inverse-primary: #83d8a0;
    --sys-primary-fixed: #9ef5bb;
    --sys-primary-fixed-dim: #83d8a0;
    --sys-on-primary-fixed: #00210f;
    --sys-on-primary-fixed-variant: #00522d;

    // Secondary colors
    --sys-secondary: #46654f;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #c8ebcf;
    --sys-on-secondary-container: #022110;
    --sys-secondary-fixed: #c8ebcf;
    --sys-secondary-fixed-dim: #accfb4;
    --sys-on-secondary-fixed: #022110;
    --sys-on-secondary-fixed-variant: #2e4d39;

    // Tertiary colors
    --sys-tertiary: #465e90;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #d8e2ff;
    --sys-on-tertiary-container: #001a42;
    --sys-tertiary-fixed: #d8e2ff;
    --sys-tertiary-fixed-dim: #aec6ff;
    --sys-on-tertiary-fixed: #001a42;
    --sys-on-tertiary-fixed-variant: #2d4677;

    // Background/surface colors
    --sys-background: #fcf9f7;
    --sys-on-background: #1c1b1b;
    --sys-surface: #fcf9f7;
    --sys-surface-dim: #dcd9d8;
    --sys-surface-bright: #fcf9f7;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f6f3f1;
    --sys-surface-container: #f0edec;
    --sys-surface-container-high: #ebe7e6;
    --sys-surface-container-highest: #e5e2e0;
    --sys-on-surface: #1c1b1b;

    // Neutral colors
    --sys-neutral: #787776;
    --sys-neutral10: #1c1b1b;
    --sys-neutral-variant: #747873;
    --sys-neutral-variant20: #2d312d;

    // Error colors
    --sys-error: #ba1a1a;
    --sys-error-container: #ffdad6;
    --sys-on-error: #ffffff;
    --sys-on-error-container: #410002;

    // Other colors
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #5b605b;
    --sys-inverse-surface: #313030;
    --sys-inverse-on-surface: #f3f0ef;
    --sys-outline: #747874;
    --sys-outline-variant: #c4c8c1;
    --sys-surface-variant: #e0e4dd;
    --sys-on-surface-variant: #434843;
    --sys-inverse-secondary: #accfb4;
    --sys-inverse-tertiary: #aec6ff;
  }
}

@mixin jade-serenity-dark-colors {
  :root, :host {
    &, .dark {
      // Primary colors
      --sys-primary: #83d8a0;
      --sys-on-primary: #00391e;
      --sys-primary-container: #00522d;
      --sys-on-primary-container: #9ef5bb;
      --sys-inverse-primary: #096d3f;
      --sys-primary-fixed: #9ef5bb;
      --sys-primary-fixed-dim: #83d8a0;
      --sys-on-primary-fixed: #00210f;
      --sys-on-primary-fixed-variant: #00522d;

      // Secondary colors
      --sys-secondary: #accfb4;
      --sys-on-secondary: #183623;
      --sys-secondary-container: #2e4d39;
      --sys-on-secondary-container: #c8ebcf;
      --sys-secondary-fixed: #c8ebcf;
      --sys-secondary-fixed-dim: #accfb4;
      --sys-on-secondary-fixed: #022110;
      --sys-on-secondary-fixed-variant: #2e4d39;

      // Tertiary colors
      --sys-tertiary: #aec6ff;
      --sys-on-tertiary: #132f5f;
      --sys-tertiary-container: #2d4677;
      --sys-on-tertiary-container: #d8e2ff;
      --sys-tertiary-fixed: #d8e2ff;
      --sys-tertiary-fixed-dim: #aec6ff;
      --sys-on-tertiary-fixed: #001a42;
      --sys-on-tertiary-fixed-variant: #2d4677;

      // Background/surface colors
      --sys-background: #131313;
      --sys-on-background: #e5e2e0;
      --sys-surface: #131313;
      --sys-surface-dim: #131313;
      --sys-surface-bright: #3a3938;
      --sys-surface-container-lowest: #0e0e0e;
      --sys-surface-container-low: #1c1b1b;
      --sys-surface-container: #20201f;
      --sys-surface-container-high: #2a2a29;
      --sys-surface-container-highest: #353534;
      --sys-on-surface: #e5e2e0;

      // Neutral colors
      --sys-neutral: #787776;
      --sys-neutral10: #1c1b1b;
      --sys-neutral-variant: #747873;
      --sys-neutral-variant20: #2d312d;

      // Error colors
      --sys-error: #ffb4ab;
      --sys-error-container: #93000a;
      --sys-on-error: #690005;
      --sys-on-error-container: #ffdad6;

      // Other colors
      --sys-shadow: #000000;
      --sys-scrim: #000000;
      --sys-surface-tint: #c3c8c2;
      --sys-inverse-surface: #e5e2e0;
      --sys-inverse-on-surface: #313030;
      --sys-outline: #8e928d;
      --sys-outline-variant: #434843;
      --sys-surface-variant: #434843;
      --sys-on-surface-variant: #c4c8c1;
      --sys-inverse-secondary: #46654f;
      --sys-inverse-tertiary: #465e90;
    }
  }
}

@mixin jade-serenity-typography {
  :root, :host {
    --sys-brand-font-family: Montserrat;
    --sys-plain-font-family: Poppins;
    --sys-bold-font-weight: 700;
    --sys-medium-font-weight: 500;
    --sys-regular-font-weight: 400;
  }
}