// jade-serenity-m3/theme.scss
@use "@angular/material" as mat;
@use "./palettes" as palette;


@mixin light-theme() {
  $theme: mat.define-theme((color: (theme-type: light,
        ),
        typography: (plain-family: Poppins,
          brand-family: Montserrat,
          bold-weight: 700,
          medium-weight: 500,
          regular-weight: 400,
          use-system-variables: false,
        ),
        density: (scale: -1,
        ),
      ));

  @include mat.all-component-colors($theme);
  @include palette.jade-serenity-light-colors();
}

@mixin dark-theme() {
  $theme: mat.define-theme((color: (theme-type: dark,
        ),
        typography: (plain-family: Poppins,
          brand-family: Montserrat,
          bold-weight: 700,
          medium-weight: 500,
          regular-weight: 400,
          use-system-variables: false,
        ),
        density: (scale: -1,
        ),
      ));

  @include mat.all-component-colors($theme);
  @include palette.jade-serenity-dark-colors();
}