@use "sass:map";
@use "../../../styles/palettes" as c;
@use "../../../styles/animation" as animation;

$sidenav-bkg-dark-color : darken(map.get(map.get(c.$palettes, primary), 10), 5);
$sidenav-bkg-light-color: map.get(map.get(c.$palettes, primary), 25);
$mat-sidenav-container-shape: 0;

:host {
    display: contents;
}

.content {
    // variables
    --mat-sidenav-container-shape: $mat-sidenav-container-shape;

    // styles
    height: calc(100dvh - 4rem);
}



html.light-theme .content .content-sidenav {
    --mat-sidenav-container-background-color: #{$sidenav-bkg-light-color};
}

html.dark-theme .content .content-sidenav {
    --mat-sidenav-container-background-color: #{$sidenav-bkg-dark-color};
}



.content-body {
    padding: 1rem 1.5rem;
}


.content-sidenav {
    padding: 0;

    .mat-drawer-inner-container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
    }

}