<mat-drawer-container class="content" [hasBackdrop]="hasBackdrop()">

  <!-- drawer content -->
  <mat-drawer [opened]="opened()" [mode]="mode()" [position]="position()" [disableClose]="disableClose()"
    [style.width]="width()">


    <!-- content list -->
     <app-content-list [itemList]="contentList()" />


    <!-- expand btn -->
    @if (!isColapsed()) {
    <mat-icon (click)="toggleIsColapsed()" class="toggle-is-colapsed expanded">
      {{isColapsed() ? icon.arrow_forward_ios : icon.arrow_back_ios}}
    </mat-icon>
    } @else {
    <mat-icon (click)="toggleIsColapsed()" class="toggle-is-colapsed">
      {{isColapsed() ? icon.arrow_forward_ios : icon.arrow_back_ios}}
    </mat-icon>
    }

  </mat-drawer>

  <!-- main content -->
  <mat-drawer-content
    [style.margin-left]="mode() !== 'over' ? pushContentMargin() : null"
    [style.margin-right]="mode() === 'push' ? pushReverseContentMargin() : null">
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>