:host {
    flex: 1;
    gap: 1rem;
    justify-content: stretch;
    align-items: stretch;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    .toggler-position {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}