:host {
    flex: 1;
    gap: 1rem;
    justify-content: stretch;
    align-items: stretch;
    font-size: 2.2rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}