<mat-drawer-container class="content" [hasBackdrop]="hasBackdrop()">

  <!-- drawer content -->
  <mat-drawer class="content-sidenav" 
    [opened]="opened()" 
    [mode]="mode()"
    [position]="position()" 
    [disableClose]="disableClose()" 
    [style.width]="width()">

    <!-- content list -->
    <app-content-list [itemList]="contentList()" />
    <!-- sidenav expand toggler -->
    <app-sidenav-expand-toggler />

  </mat-drawer>

  <mat-drawer-content class="content-body" 
    [style.margin-left]="mode() !== 'over' ? pushContentMargin() : null"
    [style.margin-right]="mode() === 'push' ? pushReverseContentMargin() : null">

    <!-- main content -->
    <router-outlet />

  </mat-drawer-content>

</mat-drawer-container>