<button mat-icon-button [matMenuTriggerFor]="menu"
        matTooltip="Select a theme"
        aria-label="Select a theme"
        class="translation-btn">
    <mat-icon>{{ icon.format_color_fill }}</mat-icon>
</button>

<mat-menu #menu="matMenu" class="translation-menu">

    <button mat-menu-item (click)="selectThemeVariant(variant.jadeSerenity, mode.dark)"
            aria-label="item-1: Dark / Jade Serenity theme">
        <mat-icon>{{ selection() === INDICATOR_MODE.darkJadeSerenity ? icon.radio_button_checked : icon.radio_button_unchecked }}</mat-icon>
        <span>{{ variant.jadeSerenity }} - {{ mode.dark }}</span>
    </button>

    <button mat-menu-item (click)="selectThemeVariant(variant.jadeSerenity, mode.light)"
            aria-label="item-2: Light / Jade Serenity theme">
        <mat-icon>{{ selection() === INDICATOR_MODE.lightJadeSerenity ? icon.radio_button_checked : icon.radio_button_unchecked }}</mat-icon>
        <span>{{ variant.jadeSerenity }} - {{ mode.light }}</span>
    </button>

    <button mat-menu-item (click)=" selectThemeVariant(variant.twilightBlaze, mode.dark)"
            aria-label="Item-3: Dark / Twilight Blaze theme">
        <mat-icon>{{ selection() === INDICATOR_MODE.darkTwilightBlaze ? icon.radio_button_checked : icon.radio_button_unchecked }}</mat-icon>
        <span> {{ variant.twilightBlaze }} - {{ mode.dark }} </span>
    </button>

    <button mat-menu-item (click)="selectThemeVariant(variant.twilightBlaze, mode.light)"
            aria-label="item-4: Light / Twilight Blaze theme">
        <mat-icon>{{ selection() === INDICATOR_MODE.lightTwilightBlaze ? icon.radio_button_checked : icon.radio_button_unchecked }}</mat-icon>
        <span>{{ variant.twilightBlaze }} - {{ mode.light }}</span>
    </button>

</mat-menu>