// twilight-blaze-m3/theme.scss
@use './palettes.scss' as c;
@use "@angular/material" as mat;
@use './customisation/mdc-list-select' as list-select;
@use './customisation/mdc-error-card' as error-card;
@use './customisation/mat-toolbar' as navbar;
@use './customisation/mat-drawer' as drawer;

$_rest: (
  secondary: c.palette(secondary),
  neutral: c.palette(neutral),
  neutral-variant: c.palette(neutral-variant),
  error: c.palette(error),
);


$_primary: c.extend(primary, $_rest);
$_tertiary: c.extend(tertiary, $_rest);


@function theme($type, $primary, $tertiary) {
  @return mat.define-theme((color: (theme-type: $type,
        primary: $primary,
        tertiary: $tertiary,
      ),
      typography: (plain-family: Poppins,
        brand-family: Montserrat,
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
        use-system-variables: false,
      ),
      density: (scale: -1),
    ));
}

$light-theme: theme(light, $_primary, $_tertiary);
$dark-theme: theme(dark, $_primary, $_tertiary);

// ----------------------------------------
// --------------mixins-------------------
// ----------------------------------------

@mixin light-theme() {
  @include mat.all-component-themes($light-theme);
  @include list-select.light-theme;
  @include error-card.light-theme;
  @include navbar.light-theme;
  @include drawer.light-theme;
}

@mixin dark-theme() {
  @include mat.all-component-colors($dark-theme);
  @include list-select.dark-theme;
  @include error-card.dark-theme;
  @include navbar.dark-theme;
  @include drawer.dark-theme;
}

@mixin base() {
  @include error-card.base-theme;
  @include navbar.base-theme;
}