@if (itemList().length > 0) {
    <mat-nav-list class="content-list">
        @for (item of itemList(); track item) {
            <button mat-menu-item  class="{{!isCollapsed() ? null : 'collapsed'}}"
                    [routerLink]="item?.route"
                    routerLinkActive="selected">
                <mat-icon>{{item?.icon}}</mat-icon>
                @if(!isCollapsed()){
                    <span>{{item?.title}}</span>
                }
            </button>
        }
    </mat-nav-list>
}
