@let items = itemList();
@let collapsed = isCollapsed();

@if (items.length > 0) {
    <mat-nav-list class="content-list">
        @for (item of items; track item) {
            <mat-list-item mat-list-item
                           class="content-list-item"
                           [class.collapsed]="collapsed"
                           [matTooltip]="collapsed ? item?.title : null"
                           matTooltipPosition='right'
                           [activated]="isRouteActive(item?.route)"
                           [routerLink]="item?.route"
                           (click)="closeOnClickIfMobile()"
                           routerLinkActive="selected">

                <mat-icon>{{ item?.icon }}</mat-icon>

                <span [class.collapsed]="collapsed">{{ item?.title }}</span>

            </mat-list-item>
        }
    </mat-nav-list>
}