@use "sass:map" as map;
@use "./palettes" as c;
@use "@angular/material" as mat;

@include mat.core();

$_rest: (
  secondary: map.get(c.$palettes, secondary),
  neutral: map.get(c.$palettes, neutral),
  neutral-variant: map.get(c.$palettes, neutral-variant),
  error: map.get(c.$palettes, error),
);

$_primary: map.merge(map.get(c.$palettes, primary), $_rest);
$_tertiary: map.merge(map.get(c.$palettes, tertiary), $_rest);

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: $_primary,
        tertiary: $_tertiary,
      ),
      typography: (plain-family: Poppins,
        brand-family: Montserrat,
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
        use-system-variables: false,
      ),
      density: (scale: -1,
      ),
    ));

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: $_primary,
        tertiary: $_tertiary,
      ),
      typography: (plain-family: Poppins,
        brand-family: Montserrat,
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
        use-system-variables: false,
      ),
      density: (scale: -1,
      ),
    ));


:root,
html.light-theme {
  color-scheme: light;
  @include mat.all-component-themes($light-theme);
}

html.dark-theme {
  color-scheme: dark;
  @include mat.all-component-colors($dark-theme);
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}