@use "./m3-theme" as m3-theme;
@use "./typography" as typography;
@use "./material-icons" as material-icons;

* {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
}

body {
  width: 100dvw;
  height: 100dvh;
  padding: unset;
  margin: unset;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.brand-font {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.m-top-auto {
  margin-top: auto;
  align-self: flex-end;
}
