@use "./typography" as typography;
@use "./theme/index" as themes;
@use "./components";
@use "./mixins/maplibre-gl" as map;

* {
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  padding: unset;
  margin: unset;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.brand-font {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.m-top-auto {
  margin-top: auto;
  align-self: flex-end;
}