@use "./m3-theme" as m3-theme;
@use "./components/mat-icon.scss";
@use "./components/btn.scss";
@use "./components/navbar.scss";
@use "./components/drawer.scss";

* {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
}

body {
  width: 100dvw;
  height: 100dvh;
  padding: unset;
  margin: unset;
}

.m-top-auto {
  margin-top: auto;
  align-self: flex-end;
}
