@use "../theme.twilight-blaze.palettes" as c;

// Light theme mixin
@mixin light-theme {
  .mdc-list-item.content-list-item.selected {
    --mdc-list-list-item-label-text-color: #{c.color(secondary, 30)};
    --mdc-list-list-item-hover-label-text-color: #{c.color(secondary, 35)};
    --mdc-list-list-item-focus-label-text-color: #{c.color(secondary, 40)};
    --mat-list-active-indicator-color: #{c.color(secondary, 80)};
  }
}

// Dark theme mixin
@mixin dark-theme {
  .mdc-list-item.content-list-item.selected {
    --mdc-list-list-item-label-text-color: #{c.color(secondary, 70)};
    --mdc-list-list-item-hover-label-text-color: #{c.color(secondary, 70)};
    --mdc-list-list-item-focus-label-text-color: #{c.color(secondary, 80)};
    --mat-list-active-indicator-color: #{c.color(secondary, 20)};
  }
}