@use "sass:map";
@use "../../twilight-blaze-m3-palettes" as c;

// Light theme navbar styles
@mixin light-theme {
  .mat-toolbar.navbar {
    --mat-toolbar-container-background-color:  #{c.color(primary, 40)};
    --mat-toolbar-container-text-color:  #{c.color(primary, 100)};
    --mdc-icon-button-icon-color:  #{c.color(primary, 100)};
  }
}

// Dark theme navbar styles
@mixin dark-theme {
  .mat-toolbar.navbar {
    --mat-toolbar-container-background-color: #{c.color(primary, 10)};
    --mat-toolbar-container-text-color: #{c.color(primary, 100)};
    --mdc-icon-button-icon-color: #{c.color(primary, 100)};
  }
}