:host {
    --mdc-icon-button-state-layer-size: 3.5rem;
    --mdc-icon-button-icon-size: 2.5rem;

    .menu-toggler {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .mat-icon {
            font-size: var(--mdc-icon-button-icon-size);
            width: unset;
            height: unset;
        }

    }
}