.menu-toggler {
    --mdc-icon-button-state-layer-size: 3rem;

     display: inline-flex;
     align-items: center;
     justify-content: center;

     .mat-icon {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         font-size: 2rem;
         width: unset;
         height: unset;
     }

 }