@if (countriesStore.error()) {
<mat-card class="error-card">
    <mat-card-content>
        <p class="error">Error loading countries: {{ countriesStore.error() }}</p>
    </mat-card-content>
</mat-card>
}

<diV>
    <h1>Countries</h1>
    <p>Showing {{ countriesStore.filteredCountries().length }} of {{ countriesStore.countries().length }} countries</p>
</diV>


<div class="country-filter-grid">
    <!-- Search Section -->
    <mat-form-field appearance="outline" class="full-width">
        <input matInput type="text" (input)="handleSearch($event)" placeholder="Search by name or capital">
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>


    <!-- Filter Section -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Regions</mat-label>
        <mat-select multiple (selectionChange)="onRegionsChange($event.value)"
            [value]="countriesStore.selectedRegions()">
            @for (region of countriesStore.regionsForSelect(); track region) {
            <mat-option [value]="region"> {{ region }} </mat-option>
            }
        </mat-select>

        <mat-icon matPrefix>filter_list</mat-icon>
    </mat-form-field>


    <!-- sort section -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="onSortChange($event.value)" [value]="countriesStore.sortOption()">
            <mat-option value="alphabetical">
                <span class="option-with-icon">
                    A → Z
                </span>
            </mat-option>
            <mat-option value="reverse-alphabetical">
                <span class="option-with-icon">
                    Z → A
                </span>
            </mat-option>
            <mat-option value="region">
                <span class="option-with-icon">
                    By Region
                </span>
            </mat-option>
        </mat-select>
    </mat-form-field>


    @if (countriesStore.loading()) {
    <div class="loading-spinner">
        <mat-spinner diameter="30"></mat-spinner>
        <span class="loading-spinner-text">Loading countries...</span>
    </div>
    }
</div>


<div class="country-grid">
    @for (country of countriesStore.sortedCountries(); track country.cca3) {
    <app-country-card [country]="country" />
    }
</div>