@use '../../../styles/theme/theme.twilight-blaze.palettes' as tb;

:host {
    display: flex;
    flex-direction: column;
    flex: 1;

    .mgl-map {
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .location-marker {
        color: tb.color(primary, 10);
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .capital-marker-icon {
        width: fit-content;
        height: fit-content;
        font-size: 4rem;
    }

}