{{ area() }} km^2 - INIT_ZOOM:{{ calculatedZoom() || 'NA' }}x
<mgl-map class="mgl-map" [style]="'https://demotiles.maplibre.org/style.json'"
         [zoom]="[calculatedZoom() || 1]" [center]="latLongReverse() || [0,0]">

    <!-- Capital Marker -->
    @if (latlngCapital() && capital().length) {
        <mgl-marker [lngLat]="latLongCapitalReverse()" color="red">
            <section class="location-marker">
                <mat-icon class="location-marker-icon">{{ icon.fmd_good }}</mat-icon>
                <span class="location-marker-label">{{ capital()?.join(', ')}}</span>
            </section>
        </mgl-marker>
    }

    <mgl-control mglFullscreen></mgl-control>
    <mgl-control mglNavigation></mgl-control>

</mgl-map>