@use "@angular/material" as mat;
@use './theme.utils' as fn;
@use './theme.twilight-blaze.palettes' as c;
@use './theme.customizations.twilight-blaze/mdc-list-item' as list-select;
@use './theme.customizations.twilight-blaze/mdc-card' as error-card;
@use './theme.customizations.twilight-blaze/mat-toolbar' as navbar;
@use './theme.customizations.twilight-blaze/mat-drawer' as drawer;

$_rest: (
        secondary: c.palette(secondary),
        neutral: c.palette(neutral),
        neutral-variant: c.palette(neutral-variant),
        error: c.palette(error),
);
$_primary: c.extend(primary, $_rest);
$_tertiary: c.extend(tertiary, $_rest);
$light-theme: fn.theme-fn(light, $_primary, $_tertiary);
$dark-theme: fn.theme-fn(dark, $_primary, $_tertiary);

@mixin light-theme() {
  @include mat.all-component-colors($light-theme);
  @include list-select.light-theme;
  @include error-card.light-theme;
  @include navbar.light-theme;
  @include drawer.light-theme;
}

@mixin dark-theme() {
  @include mat.all-component-themes($dark-theme);
}

@mixin has-twilight-blaze() {
    @include list-select.dark-theme;
    @include error-card.dark-theme;
    @include navbar.dark-theme;
    @include drawer.dark-theme;
}
