@mixin custom-theme {

  .mat-drawer.content-sidenav.mat-drawer-side {
    border-right-width: .1rem;
  }

  .mat-toolbar.navbar {
    --mat-toolbar-standard-height: 4rem;
    --mat-toolbar-mobile-height: 4rem;
    padding: 0 1rem;
  }

  .mdc-card.error-card {
    .error-content {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

}

