@use "@angular/material" as mat;
@use './theme.utils' as fn;
@use './theme.jade-serenity.utils' as utils;
@use './theme.jade-serenity.palettes' as c;
@use "../mixins/maplibre-gl" as map;

$_rest: (
        secondary: c.palette(secondary),
        neutral: c.palette(neutral),
        neutral-variant: c.palette(neutral-variant),
        error: c.palette(error),
);
$_primary: c.extend(primary, $_rest);
$_tertiary: c.extend(tertiary, $_rest);
$light-theme: fn.theme-fn(light, $_primary, $_tertiary);
$dark-theme: fn.theme-fn(dark, $_primary, $_tertiary);

@mixin light-theme() {
  @include mat.all-component-colors($light-theme);
  @include utils.navbar-theme-js(50, 20);
  @include utils.sidenav-theme-js(98, 70);
  @include utils.mdc-list-item-selected-js(20, 15, 15, 65);
  // map
  @include map.init($ctr-color: c.color(primary, 40), $ctr-bkg-color: c.color(primary, 100));
  @include map.icons-color(c.color(primary, 40));
  @include map.custom-btn-background-color(c.color(primary, 100));
  @include map.custom-marker-color(c.color(error, 50), c.color(error, 95));
}

@mixin dark-theme() {
  @include mat.all-component-colors($dark-theme);
  @include utils.navbar-theme-js(10, 90);
  @include utils.sidenav-theme-js(6, 30);
  @include utils.mdc-list-item-selected-js(80, 80, 80, 25);
  // map
  @include map.init($ctr-bkg-color: c.color(primary, 10));
  @include map.icons-color(c.color(primary, 100));
  @include map.custom-btn-background-color(c.color(primary, 10));
  @include map.custom-marker-color(c.color(error, 90), c.color(error, 30));
}
