// global
@mixin control-btn-border() {
  .maplibregl-ctrl.maplibregl-ctrl-group {
    button {
      border: none;
    }
  }
}

@mixin icons-init() {
  .maplibregl-ctrl-group button .maplibregl-ctrl-icon {
    position: relative;
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    background-image: none !important;

    &::before {
      position: absolute;
      speak: none;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Zoom controls
  .maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon::before {
    content: 'remove';
  }
  .maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon::before {
    content: 'add';
  }

  // Fullscreen controls
  .maplibregl-ctrl-fullscreen .maplibregl-ctrl-icon::before {
    content: 'fullscreen';
  }
  .maplibregl-ctrl-shrink .maplibregl-ctrl-icon::before {
    content: 'fullscreen_exit';
  }

  // Compass
  .maplibregl-ctrl-compass .maplibregl-ctrl-icon::before {
    content: 'explore';
  }

  // Globe
  .maplibregl-ctrl-globe .maplibregl-ctrl-icon::before {
    content: 'public';
  }
  .maplibregl-ctrl-globe-enabled .maplibregl-ctrl-icon::before {
    content: 'public';
  }

  // Terrain
  .maplibregl-ctrl-terrain .maplibregl-ctrl-icon::before {
    content: 'terrain';
  }
  .maplibregl-ctrl-terrain-enabled .maplibregl-ctrl-icon::before {
    content: 'terrain';
  }

  // Geolocate
  .maplibregl-ctrl-geolocate .maplibregl-ctrl-icon::before {
    content: 'my_location';
  }
  .maplibregl-ctrl-geolocate:disabled .maplibregl-ctrl-icon::before {
    content: 'location_disabled';
  }
  .maplibregl-ctrl-geolocate-active .maplibregl-ctrl-icon::before {
    content: 'my_location';
  }
  .maplibregl-ctrl-geolocate-active-error .maplibregl-ctrl-icon::before {
    content: 'my_location';
  }
  .maplibregl-ctrl-geolocate-background .maplibregl-ctrl-icon::before {
    content: 'location_searching';
  }
  .maplibregl-ctrl-geolocate-background-error .maplibregl-ctrl-icon::before {
    content: 'location_searching';
  }

  // Attribution button
  .maplibregl-ctrl-attrib-button {
    font-family: 'Material Icons';
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 12px;
    cursor: pointer;
    display: none;
    height: 24px;
    width: 24px;

    &::before {
      content: 'info_outline';
      font-size: 16px;
      line-height: 24px;
    }
  }

  // Remove logo
  .maplibregl-ctrl-logo {
    display: none;
  }
}

@mixin custom-btn-init(
  $shadow-color:rgba(0, 0, 0, 0.1),
  $border-radius: var(--mdc-fab-small-container-shape),
  $height: 2.2rem,
  $width: 2.2rem,
) {
  .map-custom-btn {
    box-shadow: 0 0 0 2px $shadow-color;
    border-radius: $border-radius;
    height: $height;
    width: $width;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
      border-radius: $border-radius;
    }
  }
}

@mixin custom-marker-init(
  $size:2rem,
  $text-font-size:1rem,
  $color-light: #fff,
  $color-dark:#000,
) {

  .location-marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .location-marker-icon {
      width: $size;
      height: $size;
      border: calc($size / 4) solid white;
    }

    .location-marker-label {
      font-size: $text-font-size;
    }
  }
}

@mixin border-radius($border-radius:var(--mdc-fab-small-container-shape)) {
  .mgl-map .maplibregl-canvas {
    border-radius: $border-radius;
  }
}

@mixin custom-zoom-control($top: compass, $middle: zoom-in, $bottom: zoom-out) {
  .maplibregl-ctrl.maplibregl-ctrl-group {
    display: flex;
    flex-direction: column;

    button.maplibregl-ctrl-zoom-in {
      order: index(($top $middle $bottom), zoom-in);
    }

    button.maplibregl-ctrl-compass {
      order: index(($top $middle $bottom), compass);
    }

    button.maplibregl-ctrl-zoom-out {
      order: index(($top $middle $bottom), zoom-out);
    }

    $middle-btn: nth(($top $middle $bottom), 2); // 2nd = middle
  }
}

// theme specific
@mixin init(
  $ctr-shadow-color:rgba(0, 0, 0, 0.1),
  $ctr-bkg-color: #fff,
  $ctr-color: #000,
  $ctr-border-radius: var(--mdc-fab-small-container-shape),
  $ctr-btn-height: 2.2rem,
  $ctr-btn-width: 2.2rem,
) {
  .maplibregl-map {
    font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgb(0 0 0/0)
  }

  .maplibregl-canvas {
    left: 0;
    position: absolute;
    top: 0
  }

  .maplibregl-map:fullscreen {
    height: 100%;
    width: 100%
  }

  .maplibregl-ctrl-group button.maplibregl-ctrl-compass {
    touch-action: none
  }

  .maplibregl-canvas-container.maplibregl-interactive,
  .maplibregl-ctrl-group button.maplibregl-ctrl-compass {
    cursor: grab;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
  }

  .maplibregl-canvas-container.maplibregl-interactive.maplibregl-track-pointer {
    cursor: pointer
  }

  .maplibregl-canvas-container.maplibregl-interactive:active,
  .maplibregl-ctrl-group button.maplibregl-ctrl-compass:active {
    cursor: grabbing
  }

  .maplibregl-canvas-container.maplibregl-touch-zoom-rotate,
  .maplibregl-canvas-container.maplibregl-touch-zoom-rotate .maplibregl-canvas {
    touch-action: pan-x pan-y
  }

  .maplibregl-canvas-container.maplibregl-touch-drag-pan,
  .maplibregl-canvas-container.maplibregl-touch-drag-pan .maplibregl-canvas {
    touch-action: pinch-zoom
  }

  .maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan,
  .maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan .maplibregl-canvas {
    touch-action: none
  }

  .maplibregl-canvas-container.maplibregl-touch-drag-pan.maplibregl-cooperative-gestures,
  .maplibregl-canvas-container.maplibregl-touch-drag-pan.maplibregl-cooperative-gestures .maplibregl-canvas {
    touch-action: pan-x pan-y
  }

  .maplibregl-ctrl-bottom-left,
  .maplibregl-ctrl-bottom-right,
  .maplibregl-ctrl-top-left,
  .maplibregl-ctrl-top-right {
    pointer-events: none;
    position: absolute;
    z-index: 2
  }

  .maplibregl-ctrl-top-left {
    left: 0;
    top: 0
  }

  .maplibregl-ctrl-top-right {
    right: 0;
    top: 0
  }

  .maplibregl-ctrl-bottom-left {
    bottom: 0;
    left: 0
  }

  .maplibregl-ctrl-bottom-right {
    bottom: 0;
    right: 0
  }

  .maplibregl-ctrl {
    clear: both;
    pointer-events: auto;
    transform: translate(0)
  }

  .maplibregl-ctrl-top-left .maplibregl-ctrl {
    float: left;
    margin: 10px 0 0 10px
  }

  .maplibregl-ctrl-top-right .maplibregl-ctrl {
    float: right;
    margin: 10px 10px 0 0
  }

  .maplibregl-ctrl-bottom-left .maplibregl-ctrl {
    float: left;
    margin: 0 0 10px 10px
  }

  .maplibregl-ctrl-bottom-right .maplibregl-ctrl {
    float: right;
    margin: 0 10px 10px 0
  }

  .maplibregl-ctrl-group {
    background: $ctr-bkg-color;
    border-radius: $ctr-border-radius;
  }

  .maplibregl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 2px $ctr-shadow-color
  }

  @media (forced-colors: active) {
    .maplibregl-ctrl-group:not(:empty) {
      box-shadow: 0 0 0 2px ButtonText
    }
  }

  .maplibregl-ctrl-group button {
    height: $ctr-btn-height;
    width: $ctr-btn-width;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0;
  }

  .maplibregl-ctrl button .maplibregl-ctrl-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%
  }

  @media (forced-colors: active) {
    .maplibregl-ctrl-icon {
      background-color: transparent
    }
  }

  .maplibregl-ctrl button::-moz-focus-inner {
    padding: 0
  }

  .maplibregl-ctrl-attrib-button:focus, .maplibregl-ctrl-group button:focus {
    box-shadow: 0 0 2px 2px #0096ff
  }

  .maplibregl-ctrl button:disabled {
    cursor: not-allowed
  }

  .maplibregl-ctrl button:disabled .maplibregl-ctrl-icon {
    opacity: .25
  }

  @media (hover: hover) {
    .maplibregl-ctrl button:not(:disabled):hover {
      background-color: rgb(0 0 0/5%)
    }
  }

  .maplibregl-ctrl button:not(:disabled):active {
    background-color: rgb(0 0 0/5%)
  }

  .maplibregl-ctrl-group button:focus:focus-visible {
    box-shadow: 0 0 2px 2px #0096ff
  }

  .maplibregl-ctrl-group button:focus:not(:focus-visible) {
    box-shadow: none
  }

  .maplibregl-ctrl-group button:focus:first-child {
    border-radius: $ctr-border-radius $ctr-border-radius 0 0
  }

  .maplibregl-ctrl-group button:focus:last-child {
    border-radius: 0 0 $ctr-border-radius $ctr-border-radius;
  }

  .maplibregl-ctrl-group button:focus:only-child {
    border-radius: inherit
  }

  .maplibregl-ctrl button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-waiting .maplibregl-ctrl-icon {
    animation: maplibregl-spin 2s linear infinite
  }

  @keyframes maplibregl-spin {
    0% {
      transform: rotate(0deg)
    }

    to {
      transform: rotate(1turn)
    }
  }

  a.maplibregl-ctrl-logo.maplibregl-compact {
    width: 14px
  }

  .maplibregl-ctrl.maplibregl-ctrl-attrib {
    background-color: hsla(0, 0%, 100%, .5);
    margin: 0;
    padding: 0 5px
  }

  @media screen {
    .maplibregl-ctrl-attrib.maplibregl-compact {
      background-color: $ctr-bkg-color;
      border-radius: 12px;
      box-sizing: content-box;
      color: #000;
      margin: 10px;
      min-height: 20px;
      padding: 2px 24px 2px 0;
      position: relative;
      display: none;
    }

    .maplibregl-ctrl-attrib.maplibregl-compact-show {
      padding: 2px 28px 2px 8px;
      visibility: visible
    }

    .maplibregl-ctrl-bottom-left > .maplibregl-ctrl-attrib.maplibregl-compact-show,
    .maplibregl-ctrl-top-left > .maplibregl-ctrl-attrib.maplibregl-compact-show {
      border-radius: 12px;
      padding: 2px 8px 2px 28px
    }

    .maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-inner {
      display: none
    }

    .maplibregl-ctrl-attrib summary.maplibregl-ctrl-attrib-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      list-style: none
    }

    .maplibregl-ctrl-attrib summary.maplibregl-ctrl-attrib-button::-webkit-details-marker {
      display: none
    }

    .maplibregl-ctrl-bottom-left .maplibregl-ctrl-attrib-button,
    .maplibregl-ctrl-top-left .maplibregl-ctrl-attrib-button {
      left: 0
    }

    .maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-button,
    .maplibregl-ctrl-attrib.maplibregl-compact-show .maplibregl-ctrl-attrib-inner {
      display: block
    }

    .maplibregl-ctrl-attrib.maplibregl-compact-show .maplibregl-ctrl-attrib-button {
      background-color: rgb(0 0 0/5%)
    }

    .maplibregl-ctrl-bottom-right > .maplibregl-ctrl-attrib.maplibregl-compact:after {
      bottom: 0;
      right: 0
    }

    .maplibregl-ctrl-top-right > .maplibregl-ctrl-attrib.maplibregl-compact:after {
      right: 0;
      top: 0
    }

    .maplibregl-ctrl-top-left > .maplibregl-ctrl-attrib.maplibregl-compact:after {
      left: 0;
      top: 0
    }

    .maplibregl-ctrl-bottom-left > .maplibregl-ctrl-attrib.maplibregl-compact:after {
      bottom: 0;
      left: 0
    }
  }

  .maplibregl-ctrl-attrib a {
    color: rgba(0, 0, 0, .75);
    text-decoration: none
  }

  .maplibregl-ctrl-attrib a:hover {
    color: inherit;
    text-decoration: underline
  }

  .maplibregl-attrib-empty {
    display: none
  }

  .maplibregl-ctrl-scale {
    background-color: hsla(0, 0%, 100%, .75);
    border: 2px solid #333;
    border-top: #333;
    box-sizing: border-box;
    color: #333;
    font-size: 10px;
    padding: 0 5px
  }

  .maplibregl-popup {
    display: flex;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    will-change: transform
  }

  .maplibregl-popup-anchor-top,
  .maplibregl-popup-anchor-top-left,
  .maplibregl-popup-anchor-top-right {
    flex-direction: column
  }

  .maplibregl-popup-anchor-bottom,
  .maplibregl-popup-anchor-bottom-left,
  .maplibregl-popup-anchor-bottom-right {
    flex-direction: column-reverse
  }

  .maplibregl-popup-anchor-left {
    flex-direction: row
  }

  .maplibregl-popup-anchor-right {
    flex-direction: row-reverse
  }

  .maplibregl-popup-tip {
    border: 10px solid transparent;
    height: 0;
    width: 0;
    z-index: 1
  }

  .maplibregl-popup-anchor-top .maplibregl-popup-tip {
    align-self: center;
    border-bottom-color: #fff;
    border-top: none
  }

  .maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
    align-self: flex-start;
    border-bottom-color: #fff;
    border-left: none;
    border-top: none
  }

  .maplibregl-popup-anchor-top-right .maplibregl-popup-tip {
    align-self: flex-end;
    border-bottom-color: #fff;
    border-right: none;
    border-top: none
  }

  .maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: #fff
  }

  .maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
    align-self: flex-start;
    border-bottom: none;
    border-left: none;
    border-top-color: #fff
  }

  .maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
    align-self: flex-end;
    border-bottom: none;
    border-right: none;
    border-top-color: #fff
  }

  .maplibregl-popup-anchor-left .maplibregl-popup-tip {
    align-self: center;
    border-left: none;
    border-right-color: #fff
  }

  .maplibregl-popup-anchor-right .maplibregl-popup-tip {
    align-self: center;
    border-left-color: #fff;
    border-right: none
  }

  .maplibregl-popup-close-button {
    background-color: transparent;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0
  }

  .maplibregl-popup-close-button:hover {
    background-color: rgb(0 0 0/5%)
  }

  .maplibregl-popup-content {
    background: $ctr-bkg-color;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 15px 10px;
    pointer-events: auto;
    position: relative
  }

  .maplibregl-popup-anchor-top-left .maplibregl-popup-content {
    border-top-left-radius: 0
  }

  .maplibregl-popup-anchor-top-right .maplibregl-popup-content {
    border-top-right-radius: 0
  }

  .maplibregl-popup-anchor-bottom-left .maplibregl-popup-content {
    border-bottom-left-radius: 0
  }

  .maplibregl-popup-anchor-bottom-right .maplibregl-popup-content {
    border-bottom-right-radius: 0
  }

  .maplibregl-popup-track-pointer {
    display: none
  }

  .maplibregl-popup-track-pointer * {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
  }

  .maplibregl-map:hover .maplibregl-popup-track-pointer {
    display: flex
  }

  .maplibregl-map:active .maplibregl-popup-track-pointer {
    display: none
  }

  .maplibregl-marker {
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity .2s;
    will-change: transform
  }

  .maplibregl-user-location-dot,
  .maplibregl-user-location-dot:before {
    background-color: #1da1f2;
    border-radius: 50%;
    height: 15px;
    width: 15px
  }

  .maplibregl-user-location-dot:before {
    animation: maplibregl-user-location-dot-pulse 2s infinite;
    content: "";
    position: absolute
  }

  .maplibregl-user-location-dot:after {
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .35);
    box-sizing: border-box;
    content: "";
    height: 19px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 19px
  }

  .maplibregl-user-location-dot-stale {
    background-color: #aaa
  }

  .maplibregl-user-location-dot-stale:after {
    display: none
  }

  .maplibregl-user-location-accuracy-circle {
    background-color: #1da1f233;
    border-radius: 100%;
    height: 1px;
    width: 1px
  }

  .maplibregl-crosshair,
  .maplibregl-crosshair .maplibregl-interactive,
  .maplibregl-crosshair .maplibregl-interactive:active {
    cursor: crosshair
  }

  .maplibregl-boxzoom {
    background: $ctr-bkg-color;
    border: 2px dotted #202020;
    height: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 0
  }

  .maplibregl-cooperative-gesture-screen {
    align-items: center;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    display: flex;
    font-size: 1.4em;
    inset: 0;
    justify-content: center;
    line-height: 1.2;
    opacity: 0;
    padding: 1rem;
    pointer-events: none;
    position: absolute;
    transition: opacity 1s ease 1s;
    z-index: 99999
  }

  .maplibregl-cooperative-gesture-screen.maplibregl-show {
    opacity: 1;
    transition: opacity .05s
  }

  .maplibregl-cooperative-gesture-screen .maplibregl-mobile-message {
    display: none
  }

  .maplibregl-pseudo-fullscreen {
    height: 100% !important;
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 99999
  }

  @keyframes maplibregl-user-location-dot-pulse {
    0% {
      opacity: 1;
      transform: scale(1)
    }

    70% {
      opacity: 0;
      transform: scale(3)
    }

    to {
      opacity: 0;
      transform: scale(1)
    }
  }

  @media (hover: none), (pointer: coarse) {
    .maplibregl-cooperative-gesture-screen .maplibregl-desktop-message {
      display: none
    }

    .maplibregl-cooperative-gesture-screen .maplibregl-mobile-message {
      display: block
    }
  }
}

@mixin icons-color($color: #000) {

  .map-custom-btn,
  .map-custom-btn-icon,
  .maplibregl-ctrl-group button .maplibregl-ctrl-icon {
    color: $color;
  }

  // Specific colored states
  .maplibregl-ctrl-globe-enabled .maplibregl-ctrl-icon,
  .maplibregl-ctrl-terrain-enabled .maplibregl-ctrl-icon,
  .maplibregl-ctrl-geolocate-active .maplibregl-ctrl-icon,
  .maplibregl-ctrl-geolocate-background .maplibregl-ctrl-icon {
    color: #33b5e5;
  }

  .maplibregl-ctrl-geolocate-active-error .maplibregl-ctrl-icon {
    color: #e58978;
  }

  .maplibregl-ctrl-geolocate:disabled .maplibregl-ctrl-icon {
    color: #aaa;
  }

  .maplibregl-ctrl-geolocate-background-error .maplibregl-ctrl-icon {
    color: #e54e33;
  }

  .maplibregl-ctrl-attrib-button {
    color: $color;
  }

  // Forced-colors overrides
  @media (forced-colors: active) {
    .maplibregl-ctrl-group button .maplibregl-ctrl-icon,
    .maplibregl-ctrl-attrib-button {
      color: CanvasText;
    }
  }
}

@mixin custom-btn-background-color($background-color: #fff) {
  .map-custom-btn {
    background: $background-color;
  }
}

@mixin custom-marker-color($color-light,$color-dark) {
  .location-marker {
    & .location-marker-icon {
      border-radius: 50%;
      opacity: 0.8;
      @extend .mat-elevation-z8;
      border-color: $color-dark;
      background-color: $color-light;
    }

    & .location-marker-label {
      padding-top: 0.3rem;
      color: $color-dark;
    }
  }
}