@use "sass:map";
@use "../palettes" as c;


@mixin base-theme {
  .mat-toolbar.navbar {
    --mat-toolbar-standard-height: 4rem;
    --mat-toolbar-mobile-height: 4rem;
    padding: 0 1rem;
  }
}

// Light theme navbar styles
@mixin light-theme {
  .mat-toolbar.navbar {
    --mat-toolbar-container-background-color: #{map.get(map.get(c.$palettes, primary), 40)};
    --mat-toolbar-container-text-color: #{map.get(map.get(c.$palettes, primary), 100)};
    --mdc-icon-button-icon-color: #{map.get(map.get(c.$palettes, primary), 100)};
  }
}

// Dark theme navbar styles
@mixin dark-theme {
  .mat-toolbar.navbar {
    --mat-toolbar-container-background-color: #{map.get(map.get(c.$palettes, primary), 10)};
    --mat-toolbar-container-text-color: #{map.get(map.get(c.$palettes, primary), 100)};
    --mdc-icon-button-icon-color: #{map.get(map.get(c.$palettes, primary), 100)};
  }
}